<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>OKJUX</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>com.99centbrains.catwang</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>8</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>We would like to access your calendar</string>
	<key>NSCameraUsageDescription</key>
	<string>Take new pics to okjux</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Anonymously Post and View rad jux snaps around you. Your location will never be shared!</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Select pics to okjux</string>
	<key>UIAppFonts</key>
	<array>
		<string>AmaticSC-Bold.ttf</string>
		<string>arfmoochikncheez.ttf</string>
		<string>Arvil_Sans.ttf</string>
		<string>Blackout Midnight.ttf</string>
		<string>Bubblegum.ttf</string>
		<string>Butcherman-Regular.ttf</string>
		<string>CabinSketch-Bold.ttf</string>
		<string>CabinSketch-Regular.ttf</string>
		<string>Chewy.ttf</string>
		<string>Cooper Black.ttf</string>
		<string>Corben-Bold.ttf</string>
		<string>Corben-Regular.ttf</string>
		<string>Courgette-Regular.ttf</string>
		<string>Creepster-Regular.ttf</string>
		<string>DeliusUnicase-Bold.ttf</string>
		<string>DeliusUnicase-Regular.ttf</string>
		<string>DoubleFeature20.ttf</string>
		<string>FingerPaint-Regular.ttf</string>
		<string>FredokaOne-Regular.ttf</string>
		<string>Frijole-Regular.ttf</string>
		<string>GloriaHallelujah.ttf</string>
		<string>GochiHand-Regular.ttf</string>
		<string>Gorditas-Regular.ttf</string>
		<string>Grind Zero.ttf</string>
		<string>Hollywood99.ttf</string>
		<string>KaushanScript-Regular.ttf</string>
		<string>KellySlab-Regular.ttf</string>
		<string>knewave.ttf</string>
		<string>LeagueScript.ttf</string>
		<string>LeckerliOne-Regular.ttf</string>
		<string>Lemon-Regular.ttf</string>
		<string>LiveSimply.ttf</string>
		<string>Megrim.ttf</string>
		<string>mensch.ttf</string>
		<string>Minecrafter_3.ttf</string>
		<string>NinaKetchup.ttf</string>
		<string>Nosifer-Regular.ttf</string>
		<string>OVFont-PaperCute.ttf</string>
		<string>OVFont-Sheepman-Bold.ttf</string>
		<string>Pacifico.ttf</string>
		<string>PressStart2P-Regular.ttf</string>
		<string>ProximaNova-Black.ttf</string>
		<string>RockSalt.ttf</string>
		<string>ROCKYAOE.ttf</string>
		<string>soupofjustice.ttf</string>
		<string>TheSkinny-bold.otf</string>
		<string>TradeWinds-Regular.ttf</string>
		<string>UnifrakturCook-Bold.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>99centbrainsMedia</string>
			<key>UTTypeIdentifier</key>
			<string>com.99centbrains.media</string>
		</dict>
	</array>
</dict>
</plist>
